<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Giphy API get</title>
</head>
<body>
    <h1>Giphy API Finder</h1>
    <form action="results" method="post">
        <label for="">Enter a search keyword:</label>
        <input type="text" name="search_image">
        <button type="submit">Submit</button>
    </form>
</body>
</html>